{:controller {:receiver  :receiver
              :sender    :sender
              :strategy  :strategy}
 :strategy   {:strategy "arbitrage.jar"}
 :receiver   {}
 :sender     {:service :simulator}
 :simulator  {}}